{% extends "aut/000_base_bar.html" %}

{% block titel %}
<title>Testcases</title>
{% endblock %}

{% load aut_extras %}

{% block content %}
<style>
  #testc {
  background-color: #D4E88B;
}
#tabellen{
  margin-top: 1rem;
  position:relative;
  width:100%;
  height: 35rem;
  overflow: auto;
}

ul{
  float: left;
  list-style:none;
  padding:0;
  margin:0;
  width:20%;
  overflow:hidden;
  overflow-y:scroll;
  height: 100%;

}
li{
  line-height:2rem;
}

#ifrm{
  padding:0;
  margin:0;
  border: 0;
  float: left;
  width: 80%;
  height: 100%;
}

ul li {
margin: 5px;
padding: 1px 1px 1px 1px;
border: solid 1px black;
}

ul li a{
text-decoration: none;}

#testc_a button{
position: relative;
background-color: white;
width: 100%;
font-size: calc(0.2rem + 1vw);
text-decoration: none;
padding: 0.5rem 0.5rem 0.5rem 0.5rem;
display: inline-block;
transition: background-color 0.5s;
}
#testc_a button:hover {
    background-color: #D4E88B;
    color: white;
}


</style>

<div id="tabellen">
    <ul id="testcaselist">
    <li> <a id="testc_a" href="{% url 'aut:testcase_create' %}" target="ifrm" > <button>Neuer Testcase</button> </a>  </li>
    {% for testcase in testcases %}
      <li {{ testcase|testcase_color }}> <a href="{{ testcase.get_absolute_url }}" target="ifrm"> {{ testcase }}</a>  </li>
    {% endfor %}

</ul>

    <iframe id="ifrm" name="ifrm" src="{% url 'aut:testc_desc' %}">
        Your browser doesn't support iframes.
    </iframe>
</div>

<script type="text/javascript">
        document.getElementById('ifrm').onload = function() {
           $("#testcaselist").load(location.href + " #testcaselist li");
        }
</script>

{% endblock %}


