<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
        html {
  font-size: calc(0.2rem + 1.5vw);
  font-family: Arial, sans-serif;
}
</style>
<body>
<p>TestRun</p>
<p><span style="color: red;">Rot: </span></p>
<ul>
    <li>TestRun wurde noch keinem TestCase zugeordnet</li>
</ul>
<p><span style="color: blue;">Blau: </span></p>
<ul>
    <li>TestRun wurde ein TestCase hinzugefügt</li>
    <li>TestRun wurde noch nicht durchgeführt</li>
</ul>
<p><span style="color: orange;">Orange: </span></p>
<ul>
    <li>TestRun hat mindestens einen Schritt des TestCases nicht erfolgreich bestanden</li>
</ul>

<p><span style="color: green;">Grün: </span></p>
<ul>
    <li>TestRun hat alle Schritte des TestCases erfolgreich bestanden</li>
</ul>

<p>Es können nur TestCases zugeordnet werden, die ein Requirement abdecken.</p>
<p>Nachdem ein TestCase hinzugefügt wurde kann man den TestRun durchführen</p>
<p>Wenn nur ein Schritt durchgefallen ist, wird der TestRun als durchgefallen gewertet</p>

</body>
</html>