<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>TestCases</p>
<p><span style="color: red;">Rot: </span></p>
<ul>
    <li>TestCase wurde noch keinem Requirement zugeordnet</li>
    <li>Es wurde noch kein TestRun für den TestCase angelegt oder durchgeführt</li>
    <li>Der letzte TestRun zu diesem TestCase war nicht erfolgreich</li>
</ul>
<p><span style="color: green;">Grün: </span></p>
<ul>
    <li>TestCase wurde mindestens einem Requirement zugeordnet</li>
    <li>Der letzte TestRun zu diesem TestCase war erfolgreich</li>
</ul>

</body>
</html>