<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Requirements</p>
<p>Hier können neue Requirements erstellt werden.</p>
<p>Rot markierte Requiremetns haben noch keinen TestCase zugeordnet bekommen.</p>
<p>Grün markierte Requirements gehören mindestens zu einem TestCase.</p>

<p>Nach dem Skript ist ein Requirement eine Anforderung an die Software.</p>

Vielleicht mit Erklärungen was ein Requirement machen soll aus der Vorlesung
Und mit der Bitte das man ein neues Requirement erstellen soll


</body>
</html>