<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="/static/aut/000_basebar.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.5.1.js"></script>
</head>
<body>

<form method="Post">
	{% csrf_token %}
    <table>
		<tr>
			<td>Schritt </td> <td>erwartetes Ergebnis</td>
		</tr>
<tr>
{{ formset.management_form }}
       {% for form in formset %}

        {% for field in form %}

       <td>{{ field }}</td>

{% endfor %}
		</tr>
        {% endfor %}
    </table>
	<input type="submit" value="Submit">
</form>

</body>
</html>