<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titel %} <title>Ausloggen</title> {% endblock %}

    {% load static %}
    <link href="/static/aut/000_base_css_bar.css" type="text/css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/aut/images/favicon.ico">
</head>
<style>
    #logoutscreen{
    text-align: center;
    }
</style>
<body>
<div id="logoutscreen">

  <p>Logged out!</p>
  <a href="{% url 'login'%}">Click here to login again.</a>

</div>


</body>
</html>

